@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/*Your Custom CSS Goes here*/
html, body {
  font-size: 14px;
  font-family: 'Lato', sans-serif; 
}

.border-1 {
  border-width: 1px;
}
